/* Bitter */
@font-face {
    font-family: 'BitterRegular';
    src: url('../fonts/bitter/Bitter-Regular-webfont.ttf') format('truetype'),
         url('../fonts/bitter/Bitter-Regular-webfont.svg#BitterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitterBold';
    src: url('../fonts/bitter/Bitter-Bold-webfont.ttf') format('truetype'),
         url('../fonts/bitter/Bitter-Bold-webfont.svg#BitterBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Avenir */
@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../fonts/avenir/avenirnext-regular.ttf') format('truetype'),
         url('../fonts/avenir/avenirnext-regular.svg#AvenirNextRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextUltraLight';
    src: url('../fonts/avenir/avenirnext-ultralight.ttf') format('truetype'),
         url('../fonts/avenir/avenirnext-ultralight.svg#AvenirNextUltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Fontello */
 @font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?78746927'),
       url('../fonts/fontello.svg?78746927#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;
}

.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-thisthat:before { content: '\21c4'; } /* '⇄' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-attach:before { content: '\e029'; } /* '' */
.icon-cancel-circled:before { content: '\e04c'; } /* '' */
.icon-cancel:before { content: '\e04e'; } /* '' */
.icon-ok-circled:before { content: '\e06e'; } /* '' */
.icon-vote-yes:before { content: '\e070'; } /* '' */
.icon-photo:before { content: '\e0a9'; } /* '' */
.icon-left-open:before { content: '\e0cd'; } /* '' */
.icon-comment:before { content: '\e106'; } /* '' */
.icon-event-circled:before { content: '\e10a'; } /* '' */
.icon-message:before { content: '\e720'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-thisthat-circle:before { content: '\e7aa'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */