<div id="header">
  <div id="back-button"><i class="icon-left-open"></i></div>
  <h1>Convo</h1>
  <i class="icon-search"></i>
  <div id="info">
    <div class="nav-circle"><i class="icon-info"></i></div>
    </div>
</div>

<div id="wrapper">
  <div id="scroller">

  </div>
</div>

<div id="footer">
  <div id="attach-circle"><i class="icon-attach"></i></div>
  <input id="message" placeholder="Do you know any funny jokes?" type="text">
  <div id="send">Send</div>
</div>


